@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Primary*/
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    /*Neutral*/
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --light-brown: hsl(28, 73%, 82%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}


body {
    display: grid;
    place-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    margin-top: 100px;
    background-color: var(--cream);
}


.chart {
    width: 450px;
    height: 560px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    place-items: center;
}

/*top penal*/

.balance {
    width: 450px;
    height: 100px;
    background-color: var(--soft-red);
    border-radius: 20px;
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    background-position: right 8% bottom 50%;
    background-size: 12%;
    color: var(--very-pale-orange);
    font-size: 16px;
}

.balance-text {
    margin-top: 20px;
    margin-left: 30px;
}

.balance-sum {
    font-size: 30px;
    font-weight: 700;
}

/*graph*/
.gragh {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: var(--very-pale-orange);
    width: 430px;
    height: 400px;
    border-radius: 20px;
    padding: 10px;

}

h1 {
    font-size: 26px;
    font-weight: 700;
    color: var(--dark-brown);
    margin-left: 30px;
    margin-top: 20px;
    letter-spacing: 0.5px;

}

#myChart {
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--very-pale-orange);
    border-bottom: 2px solid var(--cream);
}

.total-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
    color: var(--medium-brown);
    font-size: 14px;
    font-weight: 500;
    height: 100px;
}

.total-month {
    font-size: 42px;
    color: var(--dark-brown);
    font-weight: 700;
}

.text-2 {
    margin-top: 30px;
    text-align: end;
}

.percentage {
    color: var(--dark-brown);
    font-weight: 700;
}

/*btn for different chart*/
.chart_types {
    width: 450px;
    height: 60px;
    margin-top: 20px;
    text-align: end;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--medium-brown);
    color: var(--very-pale-orange);
    font-weight: 700;
}

button:hover {
    background-color: var(--light-brown);
}
