@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /*Primary*/
    --blue: hsl(246, 80%, 60%);
    --light-red-work: hsl(15, 100%, 70%);
    --soft-blue-play: hsl(195, 74%, 62%);
    --light-red-stud: hsl(348, 100%, 68%);
    --lime-green-exercise: hsl(145, 58%, 55%);
    --violet-social: hsl(264, 64%, 52%);
    --soft-orange-self-care: hsl(43, 84%, 65%);
    /*Neutral*/
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --hover-blue: hsl(236, 41%, 34%);
    --white: white;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    display: grid;
    place-items: center;
    margin-top: 150px;
    background-color: var(--very-dark-blue);
}


.container {
    width: 1100px;
    height: 540px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

}


.grid-item {
    width: 248px;
    height: 240px;
    border-radius: 18px;
    display: flex;
}

/*profile long*/

.profile {
    width: 240px;
    height: 520px;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
}

.jeremy-wrap {
    width: 80px;
    height: 80px;
    background-color: var(--white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 30px;
}

.jeremy-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}


.title-1 {
    width: 185px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;
    color: var(--pale-blue);
    font-size: 14px;
    font-weight: 400;
}

.title-2 {
    width: 185px;
    height: 65px;
    font-size: 40px;
    margin-left: 30px;
    font-weight: 300;
    margin-top: 20px;
    color: var(--white);
}

.person {
    width: 238px;
    height: 360px;
    border-radius: 15px;
    align-self: flex-start;
    background-color: var(--blue);

}

.time-range {
    width: 220px;
    height: 120px;
    align-self: flex-end;
    text-align: left;
    margin-top: 30px;
}

.btn {
    font-size: 16px;
    margin-bottom: 18px;
    margin-left: 15px;
    color: var(--desaturated-blue);
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    color: var(--pale-blue);
}

.btn-clicked {
    color: var(--pale-blue);
}

/*tasks*/

.display {
    width: 250px;
    height: 200px;
    border-radius: 15px;
    background-color: var(--dark-blue);
    align-self: flex-end;
}

.display:hover {
    background-color: var(--hover-blue);
}

.task-wrapper {
    width: 190px;
    height: 160px;
    margin-left: 30px;
    margin-top: 30px;

}

.task {
    width: 185px;
    height: 30px;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;


}

.ellipsis {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.task-current {
    width: 185px;
    height: 65px;
    font-size: 54px;
    font-weight: 300;
    margin-top: 20px;
    color: var(--white);

}

.task-last {
    width: 185px;
    height: 30px;
    margin-top: 10px;
    color: var(--pale-blue);
    font-size: 14px;
    font-weight: 400;

}

.last {
    text-transform: capitalize;
}

.img-size {
    background-repeat: no-repeat;
    background-position: top -4% right 10%;
    background-size: 23%;
}

.work {
    background-color: var(--light-red-work);
    background-image: url(images/icon-work.svg);
}

.play {
    background-color: var(--soft-blue-play);
    background-image: url(images/icon-play.svg);
}

.study {
    background-color: var(--light-red-stud);
    background-image: url(images/icon-study.svg);
}

.exercise {
    background-color: var(--lime-green-exercise);
    background-image: url(images/icon-exercise.svg);
    background-position: top right 10%;
    background-size: 30%;

}

.social {
    background-color: var(--violet-social);
    background-image: url(images/icon-social.svg);
}

.self-care {
    background-color: var(--soft-orange-self-care);
    background-image: url(images/icon-self-care.svg);
}


/*footer*/
.attribution {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
}